<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="home['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="home['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">__loc</span>
    <input type="text" ng-model="home['__loc']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updates</span>
    <input type="text" ng-model="home['updates']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">picks</span>
    <input type="text" ng-model="home['picks']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">tags</span>
    <input type="text" ng-model="home['tags']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_by</span>
    <input type="text" ng-model="home['updated_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_by</span>
    <input type="text" ng-model="home['created_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_object_uid</span>
    <input type="text" ng-model="home['app_user_object_uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">published</span>
    <input type="text" ng-model="home['published']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">uid</span>
    <input type="text" ng-model="home['uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_version</span>
    <input type="text" ng-model="home['_version']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ACL</span>
    <input type="text" ng-model="home['ACL']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
