<div class="padding" ng-controller="AboutController">
<head>
   <super-navbar>
   <super-navbar-title>What's up?</super-navbar-title>
   </super-navbar>

    
<body>
    
<br><h3>What is Pedal?</h3>

  <p>Pedal is a simple way to discover great deals and keep track of what's happening at restaurants and bars around you.</p>
    

<br><h3>Who are you?</h3>
    
  <p>We are students at Miami University who found it difficult to remember all the different deals in town. We figured an app is the best way to catalog all this information. So far, we love using it and uploaded it to the app store. We hope you find it useful too!</p>

<br><h3>Is this it?</h3>
    <p>We're just getting started! We're using Oxford as a starting point to test and see what works and what doesn't. Our goal is to make it very simple for users to find what they want and at the same time, empower small businesses. In future updates, we hope to add full menus, other college towns, and even cities as well. Please get in contact with us if you have any suggestions or advice at all!</p>
    
<br><h3>Guidelines</h3>

  <p>We try our best to maintain correct info, but there are 40+ businesses listed and only two of us. If you find any errors, please let us know at <a href="mailto:getpedal@gmail.com">getpedal@gmail.com</a> or our twitter (@getpedal), and we'll update it right away!</p> 

<br><p>Thanks!</p>
    
<p>-The Pedal Team</p>
    
<div id="twitter">    
<a href="https://twitter.com/getpedal" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @getpedal</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
    
    <hr>
<br>
 <h3>The legal stuff</h3>
    <p>This agreement is a legal contract between you and us. You acknowledge that you have read, understood, and agree to be bound by the terms of this agreement. If you do not agree to this agreement, you should not use Pedal.</p>
    
<br><p>Pedal is for your personal, lawful use. It is intended to be a helpful resource and ultimately honoring the listings is up to the businesses themselves. We are not responsible for any decisions you make based on something you read on Pedal.</p>
        
    <br><p><strong>Privacy Policy:</strong></p>
    <p>Log data is certain information that is collected by our systems when you visit Pedal, including the type of software used to access the app, the type of device you are using, your viewed pages, and your IP address. This information is anonymously recorded for all users.</p>

<br><p>We use a tool called Mixpanel to help us understand how users interact with our application. It tells us aggregate usage and traffic information, such as how the app was accessed, how long visitors stayed, and the number of first-time users.</p>

<script>mixpanel.track("About");</script>    
</body>
</div>