/* General */

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

body {
    background-color: #f7f9fb;
}

/* Home Page */


#header {
    background: url(/images/oxford2.png) no-repeat center;
    background-size: 100% 100%;
    padding: 25%;
}

#day {
    font-size: 18px;
    text-align: center;
    color: #09091A;
    text-transform: uppercase;
}

.post {
  overflow: auto;
  margin: 10px 10px 10px 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);      
  background-color: #fff; 
  padding: 10px 0px 5px 10px;
  color: #454545;
}

#news {
    font-size: 16px;
    text-align: center;
    color: #09091A;
}

#about {
    text-align: center;
}

/* About */

#twitter {
    text-align: center;
}

/* Search */

#header1 {
    background: url(/images/search.png) no-repeat center;
    background-size: 100% 100%;
    padding: 25%;
}

.description {
  overflow: auto;
  margin: 10px 0px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);      
  background-color: #2D4059; 
  padding: 10px 0px 0px 10px;
  color: #fff;
}

/* Delivery */

#header2 {
    background: url(/images/delivery.png) no-repeat center;
    background-size: 100% 100%;
    padding: 25%;
}


