<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_at</span>
    <input type="text" ng-model="oxford['updated_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_at</span>
    <input type="text" ng-model="oxford['created_at']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">name</span>
    <input type="text" ng-model="oxford['name']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">address</span>
    <input type="text" ng-model="oxford['address']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">hours</span>
    <input type="text" ng-model="oxford['hours']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">deals</span>
    <input type="text" ng-model="oxford['deals']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">__loc</span>
    <input type="text" ng-model="oxford['__loc']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">ACL</span>
    <input type="text" ng-model="oxford['ACL']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">tags</span>
    <input type="text" ng-model="oxford['tags']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updated_by</span>
    <input type="text" ng-model="oxford['updated_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">created_by</span>
    <input type="text" ng-model="oxford['created_by']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">app_user_object_uid</span>
    <input type="text" ng-model="oxford['app_user_object_uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">published</span>
    <input type="text" ng-model="oxford['published']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">uid</span>
    <input type="text" ng-model="oxford['uid']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">comments</span>
    <input type="text" ng-model="oxford['comments']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">phone</span>
    <input type="text" ng-model="oxford['phone']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">cover</span>
    <input type="text" ng-model="oxford['cover']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">_version</span>
    <input type="text" ng-model="oxford['_version']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
