<div ng-controller="ShowController">
  <super-navbar>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">

<!--profile picture -->
        
    <img ng-src="{{oxford.image.url}}">    
  
<!-- gen info -->
 <div class="list">
     <div class="item item-divider">
      <b><span ng-bind="oxford['name']"></span></b>
     </div>
     <a class="item item-icon-left">
      <i class="icon super-location"></i>
      <p><span ng-bind="oxford['address']"></span></p> 
     </a>
     <a class="item item-icon-left" href="tel:{{ oxford['phone']}}">
      <i class="icon super-android-call"></i>
      <p><span ng-bind="oxford['phone']"></span></p> 
     </a>
  </div> 
     {{oxford.phone2}}

    <!--<a onclick="supersonic.app.openURL('http://www.google.com')" href="">Menu</a>        
        
        
    <!-- about -->
  <div class="description">
      <p><span ng-bind="oxford['comments']"></span></p>
  </div> 
        
    <!-- show info for everyday -->    
      <div class="list list-inset">
            <div class="item">
                <a><strong>Everyday</strong>
                <div ng-repeat="deals in oxford.deals.everyday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
    
    <!-- show info for Monday -->
        <div class="list list-inset">
            <div class="item">
                <a><strong>Monday</strong><div ng-repeat="hours in oxford.hours.monday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.monday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
        
   <!-- show info for Tuesday -->
     <div class="list list-inset">
            <div class="item">
                <a><strong>Tuesday</strong><div ng-repeat="hours in oxford.hours.tuesday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.tuesday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
        
   <!-- show the deals for Wednesday -->
    <div class="list list-inset">
            <div class="item">
                <a><strong>Wednesday</strong><div ng-repeat="hours in oxford.hours.wednesday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.wednesday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
        
   <!-- show the deals for Thursday -->
   <div class="list list-inset">
            <div class="item">
                <a><strong>Thursday</strong><div ng-repeat="hours in oxford.hours.thursday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.thursday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div> 
   <!-- show the deals for Friday  -->
  <div class="list list-inset">
            <div class="item">
                <a><strong>Friday</strong><div ng-repeat="hours in oxford.hours.friday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.friday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>

   <!-- show the deals for Saturday -->
    <div class="list list-inset">
            <div class="item">
                <a><strong>Saturday</strong><div ng-repeat="hours in oxford.hours.saturday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.saturday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
   <!-- show the deals for Sunday -->
       <div class="list list-inset">
            <div class="item">
                <a><strong>Sunday</strong><div ng-repeat="hours in oxford.hours.sunday">
                    <p>{{hours}}</p>
                </div></a>
                <div ng-repeat="deals in oxford.deals.sunday.item">
                <p><li>{{deals}}</li></p>
                </div>
            </div>
        </div>
        
    </div>
  </div>
</div>
